.thumbnailsContainer {
  height: 80vh;
  overflow-y: scroll;
  background-color: #ffffff;
  cursor: pointer;
}

.videoImage {
  max-width: 100%;
  margin-bottom: -1vh !important;
}

.thumbnailContainer {
  padding-bottom: 4vh;
}

.videoTitle {
  padding: 0 0.5vw 0 0.5vw;
  font-size: 1.6vh;
}

.titleWrapper {
  text-align: center;
}

/* iPhone not X */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .videoTitle {
    font-size: 2.2vh;
  }
}

/* iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .videoTitle {
    font-size: 2.2vh;
  }
}