.menuContainer{
    justify-content: flex-end;
    padding-right: 0.8vw;
    padding-top: 1.2vh;
}

.menuContainer ul{
    list-style: none;
    color: #95989A;
    font-family: 'Roboto',  sans-serif;
    font-size: 2.2vh;
    line-height: 4vh;
}

.menuContainer a{
    text-decoration: none !important;
    color: #95989A;
}

.menuContainer a:hover{
    color: #ECECEC;
}

.firstList{
    position: relative;
    left: 4vw;
}

.header{
    font-weight: bold;
}

@media only screen and (max-width: 600px){
    .menuContainer{
      padding-bottom: 4vh;
      justify-content: center;
    }

    .menuContainer ul{
        padding-inline-start: 2.5vw;
        white-space: nowrap;
    }

    .secondList{
        margin-left: 3vw;
    }
  }
  