.searchField{
    position: absolute;
    top: 5.7vh;
    right: 6.5vw;
    border: none;
    border-radius: 15px;
    height: 5vh;
    width: 0;
    background-color: #ECECEC;
    padding-left: 1vw;
    -webkit-transition: width 0.8s ease-in-out,
                        background-color 0.8s ease-in-out;
    transition: width 0.8s ease-in-out,
                background-color 0.8s ease-in-out;
    -webkit-filter: drop-shadow(0vw 3vh 6vh rgba(0, 0, 0, 0.16));
    filter: drop-shadow(0vw 3vh 6vh rgba(0, 0, 0, 0.16));
}

.searchField:focus{
    width: 20vw;
    background-color: #F5F5F5;
    outline: none;
    
}

.searchField::placeholder{
   font-size: 0.3vh;
   -webkit-transition: font-size 0.8s ease-in-out;
   transition: font-size 0.8s ease-in-out;
}

.searchField:focus::placeholder{
    font-size: 2vh;
}
