.closeBtn {
  transform: translate(0, 10%);
}

.closeBtn:hover {
  cursor: pointer;
}

.LogoImage {
  max-width: 80%;
}

.shop {
  text-align: right;
}

.shop > a {
  font-weight: bold !important;
  color: #d20a0a;
  text-decoration: none !important;
}

/* iPhone not X */
@media only screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  .logoContainer {
    text-align: left;
  }

  .shop {
    transform: translate(0, 50%);
  }
}

/* iPhone X */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .logoContainer {
    text-align: left;
  }

  .shop {
    transform: translate(0, 50%);
  }
}
