.statusBox {
  margin: 0 auto;
  height: 6.6vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #858585;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
}

.mobileDetails {
  text-align: left;
  font-style: italic;
}

.red {
  color: #D20A0A;
}
